<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402016223032-s1lmueembsplv9mmb5p4f6i0ifcsk5v8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402016223032-s1lmueembsplv9mmb5p4f6i0ifcsk5v8</string>
	<key>API_KEY</key>
	<string>AIzaSyCFRP0FR2zB4k15mUUsu1Jal4uG36G8SYc</string>
	<key>GCM_SENDER_ID</key>
	<string>402016223032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.LBShoppingApp</string>
	<key>PROJECT_ID</key>
	<string>landbapp-1e12d</string>
	<key>STORAGE_BUCKET</key>
	<string>landbapp-1e12d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402016223032:ios:ce037d0c64663c476d0bcd</string>
	<key>DATABASE_URL</key>
	<string>https://landbapp-1e12d.firebaseio.com</string>
</dict>
</plist>